body{
    background: white;
    font-family: "Open Sans", sans-serif;
}
p{
    color: #605DEC;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 33px;
    color: #605DEC;
}
h1{
    color: #605DEC;
    font-size: 44px;
    line-height: 65px;
    font-style: normal;
    font-weight: bold;
}
input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid #A1B0CC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    width: 80%;
}
textarea{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
    width: 90%;
}
  button {
    background: #605DEC;
    border: none;
    color: white;
    padding: 8px 50px;
    width: 250px;
    height: 41px;
    border-radius: 4px;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    top: 10px;
    bottom: 20px;
} 