body{
    background: white;
    font-family: "Open Sans", sans-serif;
}
h1{
    color: #605DEC;
    font-size: 44px;
    line-height: 65px;
    font-style: normal;
    font-weight: bold;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    align-items: center;
    color: #605DEC;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    color: #605DEC;
}
p{
    color: #605DEC;
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
}
.button1 {
    background: #605DEC;
    border: none;
    color: white;
    padding: 8px 50px;
    width: 250px;
    height: 41px;
    border-radius: 4px;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
} 
.button2{
    background: #605DEC;
    border: none;
    color: white;
    padding: 8px 50px;
    width: 80%;
    height: 41px;
    border-radius: 4px;
    position: absolute;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    margin-top: 50px;
    margin-left: 38px;
}
.icon-bar p{
    float:right;
}
.review-img {
    width: 60px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
  }
  .box{
    width: 400px;
    height: 830px;
    left: 900px;
    top: 261px;
    position: absolute;
    background: #FFFFFF;
    mix-blend-mode: darken;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid #A1B0CC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 38px;
    width: 80%;
  }
  textarea{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 38px;
    width: 80%;
  }