<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Main Stylesheet File -->
    <link href="vendor.css" rel="stylesheet">

</head>

<body>
    <form>
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-6">
                    <h3>Vendor Registration</h3>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-8">
                    <p>By Signing Up on EazBook you will be reaching out to thousands of couples and families looking to
                        arrange their events. Please provide the following information correctly to get started with
                        process
                        of registering your Hall/Marquee on this platform</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h5>Login Information</h5>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="email"
                            placeholder="Email*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="password" class="form-control" id="conpassword" placeholder="Confirm Password*">
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-4">
                    <h5>Contact Information</h5>
                </div>
            </div>


            <div class="row pt-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="mobile" placeholder="Mobile*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="telephone" placeholder="Telephone*">
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" id="website" placeholder="Website*">
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-4">
                    <h5>Business Information</h5>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-8">
                    <div class="form-group">
                        <input type="text" class="form-control" id="website"
                            placeholder="Name of Your Business (i.e Event Hall, Banquet Hall, Marquee)*">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" placeholder="City*">
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="location" aria-describedby="Location"
                            placeholder="Location*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="province" placeholder="Province*">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="zipcode" placeholder="Zip Code*">
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" placeholder="Address*">
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-4">
                    <h5>Business Description</h5>
                </div>
            </div>


            <div class="row pt-5">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <button>Continue</button>
                </div>
            </div>
        </div>
    </form>
</body>