<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Main Stylesheet File -->
    <link href="vendor1.css" rel="stylesheet">

</head>

<body>
    <form>
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-6">
                    <h3>Vendor Registration</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <label for="file"></label>
                    <progress id="file" value="32" max="100"></progress>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    <h5>Upload Photos</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p>Please upload clear pictures of your business to give your potential clients a good idea about
                        the environment and ambiance of the place. We encourage you to upload pictures of the times when
                        an event is happening at your hall/event complex.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h5>Upload at leats 4 Photos</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p>Please upload pictures in jpeg, jpg or png format. To upload click on “Browse to upload” and
                        select the picture. Your selected picture will be shown in the image boxes below..</p>
                </div>
            </div>


        </div>
        <div class="board">
            <label><input type="file" accept=".jpg,.png,.gif" style="display: none;"><i class="fa fa-upload fa-4x"
                    aria-hidden="true" style="align-items: center; height: 95px; margin-left: 38%;"></i>
                <h2>Browse to Upload</h2>
            </label>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <button>Continue</button>
                </div>
            </div>
        </div>
    </form>
</body>