<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Main Stylesheet File -->
    <link href="vendor2.css" rel="stylesheet">

</head>

<body>
    <form>
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-6">
                    <h3>Vendor Registration</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <label for="file"></label>
                    <progress id="file" value="32" max="100"></progress>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    <h4>Questions about your business</h4>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="section1">

                <h5>1. What do you charge for accomodating per person exluding the food charges? (i.e if the client
                    wants to arrange his/her own food/meal and only wants to avail your hall and waiter service).
                </h5>

            </div>
            <div class="section2">
                <div class="row">
                    <h6>Service Charges Per Person (Includes setting-up chairs, serving refreshment, main course and
                        dessert
                    </h6>
                </div>
                <div class="row pt-4">
                    <div class="col-lg-1 pl-0">
                        <h6>Price</h6>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>
            </div>

            <div class="section1">
                <h5>2. What do you charge for accomodating per person including the food charges? (i.e if the client
                    wants you to arrange food/meal and everything).</h5>
            </div>

            <div class="section3">
                <div class="row">
                    <div class="col-lg-9">
                        <h6>One Dish Chicken (includes beverges, food appetizers, main course & dessert)</h6>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-lg-9">
                        <h6>One Dish Beef (includes beverges, food appetizers, main course & dessert)</h6>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-lg-9">
                        <h6>One Dish Mutton (includes beverges, food appetizers, main course & dessert)</h6>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>

            </div>

            <div class="section4">

                <h5>3. How many guests can you accomodate/entertain in your event hall/banquet hall?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <h6>Minimum number of guests</h6>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <h6>Minimum number of guests</h6>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>

            </div>

            <div class="section4">

                <h5>4. Which of the following would best describe your event space?
                </h5>

            </div>

            <div class="section6">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Banquet Hall</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Marquee</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Event Complex</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Hotel</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Resort</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Farm House</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Lawn</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Marriage Garden</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Community Hall</label><br>
                    </div>
                </div>

            </div>

            <div class="section4">

                <h5>5. Which of the following services do you provide in your event space?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Cateering</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>DJ</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Decoration</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Parking</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>None</label><br>
                    </div>
                </div>
            </div>

            <div class="section4">

                <h5>6. Which of the following services do you allow from outside in your event space?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Cateering</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>DJ</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Decoration</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>None</label><br>
                    </div>
                </div>
            </div>

            <div class="section4">

                <h5>7. Which mode of payment do you accept?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Cash</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Debit/Credit Cards</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Crypto</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Cheques</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>EasyPaisa / JazzCash</label><br>
                    </div>
                </div>
            </div>

            <div class="section4">
                <h5>8. What is the % advance payment to confirm the booking?

                </h5>
            </div>

            <div class="section2">
                <div class="row">
                    <div class="col-lg-3">
                        <h6>Advance Payment</h6>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <input type="text" aria-hidden="true" placeholder="RS">
                    </div>
                </div>
            </div>

            <div class="section4">
                <h5>9. What is the cancellation policy of your business services?
                </h5>
            </div>

            <div class="section7">
                <textarea type="text" aria-hidden="true"></textarea>
            </div>

            <div class="section4">

                <h5>10. Which of the following services does your space offers?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Resturant</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Swimming Park</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Park</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Gym</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Bridal Dressing Room</label><br>
                    </div>
                </div>
            </div>

            <div class="section4">

                <h5>11. What time slots do you offer for events?
                </h5>

            </div>

            <div class="section5">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>12PM - 4PM</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>6PM - 10PM</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>10AM - 4PM</label><br>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-2">
                        <input type="checkbox" class= "larger" aria-hidden="true"><label>Other</label><br>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" aria-hidden="true" placeholder="Please Specify">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <button>Complete</button>
                </div>
            </div>
        </div>
    </form>
</body>