body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #7c8db0;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

.form-group {
  border: 1px solid #a1b0cc;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

button {
  background: #605dec;
  border: none;
  color: white;
  outline: 1px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 158px;
  height: 33px;
  border-radius: 4px;
}
