body {
  background: #e8e5e5;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

#header {
  height: 75px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

h4 {
  width: 109px;
  height: 21px;
  left: 895px;
  top: 27px;
  color: #605dec;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding-top: 5px;
}

.logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
  height: 100%;
  width: 80%;
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}

.wrapper .sidebar {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 278px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.box1 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 20%;
  left: 40px;
  background: #51459e;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box1 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 12px;
}

.box2 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 40%;
  left: 40px;
  background: #eceff7;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box2 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 12px;
}
.box3 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 60%;
  left: 40px;
  background: #eceff7;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box3 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 8px;
}

.box4 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 20%;
  right: 40px;
  background: #eceff7;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box4 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 8px;
}

.box5 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 40%;
  right: 40px;
  background: #eceff7;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box5 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 8px;
}

.box6 {
  position: absolute;
  width: 59px;
  height: 50px;
  top: 60%;
  right: 40px;
  background: #eceff7;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 17px;
}

.box6 p {
  margin-top: 50%;
  font-size: 14px;
  line-height: 14px;
  color: #1c295d;
  font-family: Aclonica;
  position: absolute;
  left: 8px;
}
