body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #7c8db0;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

.board {
  position: relative;
  width: 836px;
  height: 501px;
  left: 275px;
  top: 50px;
  background: #bed9f2;
  box-shadow: 0px 5px 28px rgba(51, 51, 51, 0.25);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  position: absolute;
  width: 360px;
  height: 269px;
  left: 275px;
  top: 1089px;
  margin-bottom: 80px;
  background: url(no-image.jpeg);
  background-size: 360px 270px;
  border: 1px dashed #808080;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img2 {
  left: 751px;
  position: absolute;
  width: 360px;
  height: 269px;
  top: 1089px;
  margin-bottom: 80px;
  background: url(no-image.jpeg);
  background-size: 360px 270px;
  border: 1px dashed #808080;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img3 {
  left: 275px;
  position: absolute;
  width: 360px;
  height: 269px;
  top: 1447px;
  margin-bottom: 80px;
  background: url(no-image.jpeg);
  background-size: 360px 270px;
  border: 1px dashed #808080;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img4 {
  left: 751px;
  position: absolute;
  width: 360px;
  height: 269px;
  top: 1447px;
  margin-bottom: 80px;
  background: url(no-image.jpeg);
  background-size: 360px 270px;
  border: 1px dashed #808080;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

button {
  background: #605dec;
  border: none;
  color: white;
  outline: 1px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 158px;
  height: 33px;
  border-radius: 4px;
  position: absolute;
  top: 830px;
  left: 850px;
}

progress {
  width: 100%;
  height: 17px;
  margin-top: 20px;
  background-color: #605dec;
  border-radius: 1000px;
}

progress::-webkit-progress-bar {
  background-color: #daeafa;
  border-radius: 1000px;
}

progress::-webkit-progress-value {
  background-color: #605dec !important;
  border-radius: 1000px;
}
