body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #7c8db0;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  color: #605dec;
}

progress {
  width: 100%;
  height: 17px;
  margin-top: 20px;
  background-color: #605dec;
  border-radius: 1000px;
}

progress::-webkit-progress-bar {
  background-color: #daeafa;
  border-radius: 1000px;
}

progress::-webkit-progress-value {
  background-color: #605dec !important;
  border-radius: 1000px;
}

.section1 {
  background-color: #bed9f2;
  position: relative;
  width: 100%;
  height: 170px;
  top: 40px;
  bottom: 40px;
  align-items: center;
  display: flex;
  padding: 60px;
  margin-bottom: 40px;
  border-radius: 8px 8px 0 0;
}

.section2 {
  background-color: #f2f7fb;
  position: relative;
  width: 100%;
  height: 170px;
  padding: 60px;
}

.section3 {
  background-color: #f2f7fb;
  position: relative;
  width: 100%;
  height: 240px;
  padding: 60px;
}

.section4 {
  background-color: #bed9f2;
  position: relative;
  width: 100%;
  height: 70px;
  padding-left: 60px;
  padding-top: 17px;
  border-radius: 8px 8px 0 0;
  margin-top: 40px;
}

.section5 {
  background-color: #f2f7fb;
  position: relative;
  width: 100%;
  height: 230px;
  padding: 60px;
}

.section6 {
  background-color: #f2f7fb;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 60px;
}

.section7 {
  background-color: #f2f7fb;
  position: relative;
  width: 100%;
  height: 540px;
  padding: 60px;
}

h5 {
  color: #605dec;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

h6 {
  color: #605dec;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

input.larger {
  width: 15px;
  height: 15px;
  background: #605dec;
}

label {
  padding-left: 30px;
  color: #605dec;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

textarea {
  width: 951px;
  height: 381px;
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 22px;
  background: #ffffff;
  border: 1px solid #a1b0cc;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background: #605dec;
  border: none;
  color: white;
  outline: 1px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 158px;
  height: 33px;
  border-radius: 4px;
  margin-top: 40px;
}
